.Rproj.user
.Rhistory
.RData
.Ruserdata
01_data-processing.R
qrd_grades.R
TM_tidy_data.R
TM_tidy_data_v2.R
tm_numbers_tidy.csv
tm_numbers_tidy.meta.csv
tm_percentages_tidy.csv
tm_percentages_tidy.meta.csv
